.masthead {
  text-align: center;
  color: #fff;
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
}
.masthead img {
  padding-top: 10rem;
  padding-bottom: 1.5rem;
}
.body {
  font-family: "Cormorant Garamond", serif;
}
.about {
  padding-top: 2rem;
  padding-bottom: 3rem;
  text-align: center;
}
.description {
  text-align: center;
}
.description h4 {
  font-weight: bold;
}
.design-description-hidden {
  display: none;
}
.design-logo-showing {
  display: block;
}
.dev-description-hidden {
  display: none;
}
.dev-logo-showing {
  display: block;
}
.product-description-hidden {
  display: none;
}
.product-logo-showing {
  display: block;
}
#portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2rem;
}
#contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.services {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../assets/backgrounds/s_image.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
.what-we-do {
  margin: 2rem;
}
.what-we-do h3 {
  padding: 2rem;
}
#contactForm {
  margin-top: 2rem;
  height: 100%;
}
.form-control {
  height: auto;
  background: transparent;
  border-radius: 0%;
}
.form-group {
  margin-bottom: 1.5rem;
}
.form-group textarea {
  padding: 1.25rem;
}
section#contact form#contactForm textarea {
  height: 100%;
  min-height: 10rem;
}

section#contact form#contactForm .form-control:focus {
  border-color: black;
  box-shadow: none;
}
section#contact form#contactForm ::-webkit-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ffffff;
}
section#contact form#contactForm :-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ffffff;
}
section#contact form#contactForm ::-moz-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ffffff;
}
section#contact form#contactForm :-ms-input-placeholder {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  color: #ffffff;
}
footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.social {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bg-theme-image,
.mighty-ontario-image,
.pyramids-image,
.jim-carrey-image,
.good-day-image,
.input-forms-image,
.b-l-mockup-image,
.giraffe-restaurant-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
.b-g-theme-middle,
.mighty-ontario-middle,
.pyramids-middle,
.jim-carrey-middle,
.good-day-middle,
.input-forms-middle,
.b-l-mockup-middle,
.giraffe-restaurant-middle {
  transition: 0.5s ease;
  opacity: 0;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-opacity {
  opacity: 0.7;
}
.middle-opacity {
  opacity: 1;
}
.text {
  background: white;
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.portfolio-item {
  position: relative;
  margin-bottom: 2rem;
}
